<html>
    <head>
        <title>Ansible HW16 facts page</title>
    </head>
    <body>
        <h2>Homework 17 Sample Webpage</h1>
        <h3>Hostname: {{ansible_hostname}}</h2>
        <h3>Virtualization type: {{ansible_virtualization_type}}</h2>
        <h3>Package manager: {{ansible_pkg_mgr}}</h2>

    </body>

</html>